In [ ]:
def getPermutations(array, prev=None, rs=None):
    if not prev:
        prev = []
        rs = []
    prevs = set(prev)
    for num in array:
        if num in prevs:
            continue
        nprev = list(prev)
        nprev.append(num)
        if len(nprev) < len(array):
            getPermutations(array, nprev, rs)
        else:
            rs.append(nprev)
    return rs

getPermutations([1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
def getPermutations(array):
    return permutationHelper(array, 0, [])

# O(n! * n) time | O(n! * n) space
def permutationHelper(arr, i, result):
    if i == len(arr) - 1:
        result.append(arr[:])
    else:
        for j in range(i, len(arr)):
            arr[i], arr[j] = arr[j], arr[i]
            permutationHelper(arr, i+1, result)
            arr[i], arr[j] = arr[j], arr[i]
    return result

getPermutations([1, 2, 3, 4, 5, 6, 7, 8])

In [36]:
getPermutations([])

[]

### Powerset

Write a function that takes in an array of unique integers and returns its powerset. The powerset P(X)	of a set X is the set of all subsets of X. For example, the
powerset of [1,2]	is [[], [1], [2], [1,2]]. 

Note that the sets in the powerset do not need to be in any particular order.

Sample input: [1, 2, 3]

Sample output: [[], [1], [2], [3], [1, 2], [1, 3], [2, 3], [1, 2, 3]]

In [55]:
def powerset(array):
    return powersetHelper(array, -1, [], [[]])

# O(n**3) time | O(n**3) space
def powersetHelper(arr, idx, prev_set, result):
    for j in range(idx+1, len(arr)):
        temp = prev_set[:]
        temp.append(arr[j])
        result.append(temp)
        if j < len(arr)-1:
            powersetHelper(arr, j, temp, result)
    return result

powerset([1, 2, 3])

[[], [1], [1, 2], [1, 2, 3], [1, 3], [2], [2, 3], [3]]

In [69]:
# O(n * 2**n) time | O(n * 2**n) space
def powerset(arr):
    subsets = [[]]
    for num in arr:
        for i in range(len(subsets)):
            subsets.append(subsets[i] + [num])
    return subsets

powerset([1, 2, 3])

[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]

In [68]:
powerset([1, 2, 3, 4])

[[],
 [1],
 [2],
 [1, 2],
 [3],
 [1, 3],
 [2, 3],
 [1, 2, 3],
 [4],
 [1, 4],
 [2, 4],
 [1, 2, 4],
 [3, 4],
 [1, 3, 4],
 [2, 3, 4],
 [1, 2, 3, 4]]

In [45]:
aa

[1, 2]

In [72]:
import pandas as pd

In [73]:
raw_data = {'first_name': ['Jason', 'Jason', 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', 'Miller', 'Ali', 'Milner', 'Cooze'], 
        'age': [42, 42, 36, 24, 73], 
        'preTestScore': [4, 4, 31, 2, 3],
        'postTestScore': [25, 25, 57, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'])
df

  first_name last_name  age  preTestScore  postTestScore
0      Jason    Miller   42             4             25
1      Jason    Miller   42             4             25
2       Tina       Ali   36            31             57
3       Jake    Milner   24             2             62
4        Amy     Cooze   73             3             70

In [84]:
def find_value(value, dataframe):
    for col in dataframe.columns:
        
        filtered = dataframe[dataframe[col] == value]
        if not filtered.empty:
            return (filtered.index[0], col)

In [85]:
df['first_name'].dtype

dtype('O')